<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Hadwritten predict</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <h1>Handwritten Digit Recognition</h1>
    <p>Trained with MNIST data</p>
    <p>Insert image with white background</p>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    {%if data%}
       <p>Result: {{data}}</p>
       <img src={{img_url}} alt="Plot" height="50%" width="50%">
    {%endif%}
  </body>
</html>